{% extends 'Login_app/base.html' %}
{% load static %}
{% block body_block %}
<h3>Please Login</h3>
<form action="{% url 'Login_app:user_login' %}" method="POST">
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="Enter Username..." required class="form-control">
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Enter Password..." required class="form-control">
    <br>
    {% csrf_token %}
    <input type="submit" name="submit" value="Login">
</form>

{% endblock %}